body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

header {
    background: #1F2937;
    padding: 20px 200px 100px 200px; 
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    padding-top: 75px;
    justify-content: space-around;
    flex: 1;
    gap: 50px;
    flex-wrap: wrap;
}

.header-image {
    height: 250px;
    width: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
}

.center-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    gap: 5px;
}

.card-image {
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 125px;
    width: 125px;
    object-fit: cover;
}

.card-text {
    text-align: center;
    color: #6a6d70;
    font-size: 12px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    color: #1F2937;
    font-size: 16px;
    font-weight: 700;
    align-self: flex-end;
}

.action {
    background-color: #3882F6;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 100px;
    flex-wrap: wrap;
}

.action-button {
    color: #F9FAF8;
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 8px;
    white-space: nowrap;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-title {
    color:#F9FAF8;
    font-weight: 700;
}

.action-subtext {
    color:#E5E7EB;
    font-size: 12px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
    text-align: center;
}