body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #1F2937;
    padding: 20px 200px 100px 200px; 
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    padding-top: 75px;
    justify-content: space-around;
    flex: 1;
    gap: 50px;
    flex-wrap: wrap;
}

.header-image {
    height: 250px;
    width: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 400px;
}